In [1]:
import pandas as pd

In [27]:
inp = pd.read_csv('files/inputevents_mv.csv')

In [28]:
inp['STARTTIME'] = pd.to_datetime(inp['STARTTIME'])
inp['ENDTIME'] = pd.to_datetime(inp['ENDTIME'])
inp['drug_length'] = (inp['ENDTIME'] - inp['STARTTIME']).dt.total_seconds()/86400
inp['drug_length'].head(20)

0     0.094444
1     0.038889
2     0.038889
3     0.000694
4     0.000694
5     0.061806
6     0.061806
7     0.115972
8     0.115972
9     0.000694
10    0.000694
11    0.000694
12    0.000694
13    0.436806
14    0.138889
15    0.138889
16    0.000694
17    0.375000
18    0.000694
19    0.000694
Name: drug_length, dtype: float64

In [29]:
#df.drop(columns=['ROW_ID','SUBJECT_ID','ICUSTAY_ID','STARTTIME','ENDTIME','RATE','RATEUOM','STORETIME','CGID',''], inplace=True)

In [30]:
#inp['ORDERCATEGORYNAME'].nunique()
#inp.ORDERCATEGORYNAME.unique()
#inp[inp['AMOUNTUOM']=='mEq.']
inp = inp[['HADM_ID','ITEMID','AMOUNT','AMOUNTUOM','PATIENTWEIGHT','ORDERID','drug_length']]

In [31]:
inp['AMOUNTUOM'].replace('mEq','1', inplace=True)
inp['AMOUNTUOM'].replace('ml','2', inplace=True)
inp['AMOUNTUOM'].replace('dose','3', inplace=True)
inp['AMOUNTUOM'].replace('grams','4', inplace=True)
inp['AMOUNTUOM'].replace('units','5', inplace=True)
inp['AMOUNTUOM'].replace('mg','6', inplace=True)
inp['AMOUNTUOM'].replace('mcg','7', inplace=True)
inp['AMOUNTUOM'].replace('mmol','8', inplace=True)
inp['AMOUNTUOM'].replace('L','9', inplace=True)
inp['AMOUNTUOM'].replace('mEq.','10', inplace=True)
inp['AMOUNTUOM'].replace('ml/hr','11', inplace=True)
inp['AMOUNTUOM'].replace('International Units','12', inplace=True)
inp['AMOUNTUOM'].replace('uL','13', inplace=True)
inp['AMOUNTUOM'].replace('ounces','14', inplace=True)
inp['AMOUNTUOM'].replace('pg','15', inplace=True)
inp['AMOUNTUOM'].replace('/hour','16', inplace=True)

In [32]:
inp

,HADM_ID,ITEMID,AMOUNT,AMOUNTUOM,PATIENTWEIGHT,ORDERID,drug_length
0,139787,225166,6.774532,1,83.2,4892074,0.094444
1,139787,225944,28.132997,2,83.2,5211428,0.038889
2,139787,225166,2.813300,1,83.2,5211428,0.038889
3,139787,225893,1.000000,3,83.2,5213971,0.000694
4,139787,220949,100.000000,2,83.2,5213971,0.000694
...,...,...,...,...,...,...,...
3618986,136680,221744,99.999997,7,96.0,9171609,0.000694
3618987,136680,225942,0.842267,6,96.0,9281732,0.116667
3618988,136680,225943,16.845331,2,96.0,9281732,0.116667
3618989,136680,221744,99.999997,7,96.0,9281789,0.000694
3618990,136680,222168,328.081150,6,96.0,9412693,0.042361

In [33]:
df_group = inp.groupby(['HADM_ID','ITEMID','AMOUNT','AMOUNTUOM','drug_length'])
df_inp = df_group.agg({
    'PATIENTWEIGHT': 'mean'
})

In [34]:
df_inp

                                                 PATIENTWEIGHT
HADM_ID ITEMID AMOUNT     AMOUNTUOM drug_length
100001  220952 25.000000  2         0.000694              99.0
        221385 1.000000   6         0.000694              99.0
        221828 10.000001  6         0.000694              99.0
        222011 2.000000   4         0.041667              99.0
        223258 0.066854   5         0.000694              99.0
...                                                        ...
199999  225975 1.000000   3         0.000694              71.5
        226452 60.000000  2         0.000694              71.5
               80.000000  2         0.000694              71.5
               120.000000 2         0.000694              71.5
               180.000000 2         0.000694              71.5

[2243709 rows x 1 columns]

In [35]:
df = pd.read_csv('merge_diag_pat_proc_icu_cpt_ser.csv')
df = df.merge(df_inp, how='inner', on='HADM_ID')
df.info()
df.to_csv('merge_diag_pat_proc_icu_cpt_ser_inp.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2240833 entries, 0 to 2240832
Data columns (total 83 columns):
SUBJECT_ID                   float64
HADM_ID                      int64
ADMITTIME                    object
DEATHTIME                    float64
ADMISSION_TYPE               object
ADMISSION_LOCATION           object
DISCHARGE_LOCATION           object
INSURANCE                    object
LANGUAGE                     object
RELIGION                     object
MARITAL_STATUS               object
ETHNICITY                    object
DIAGNOSIS                    object
LOS                          float64
no_Diagnosis                 float64
diag_injury                  float64
diag_infectious              float64
diag_neoplasms               float64
diag_endocrine               float64
diag_blood                   float64
diag_mental                  float64
diag_nervous                 float64
diag_circulatory             float64
diag_respiratory             float64
diag_digestive               float64
diag_genitourinary           float64
diag_pregnancy               float64
diag_skin                    float64
diag_muscular                float64
diag_prenatal                float64
diag_congenital              float64
diag_misc                    float64
DOB                          object
GENDER                       float64
MIN_ADMIT                    object
age                          object
no_Procedures                float64
proc_nervous                 float64
proc_endocrine               float64
proc_eye                     float64
proc_ear                     float64
proc_nose&mouth              float64
proc_respiratory             float64
proc_cardiovascular          float64
proc_hemic&lymphatic         float64
proc_digestive               float64
proc_urinary                 float64
proc_genital                 float64
proc_obstetrical             float64
proc_musculoskeletal         float64
proc_integumentary           float64
proc_misc                    float64
no_INTENSIVE_CARE            float64
ICU_LOS                      float64
no_CPT                       float64
CPT_evaluation&management    float64
CPT_surgery                  float64
CPT_radiology                float64
CPT_anesthesia               float64
CPT_emergingtechnology       float64
CPT_pathology&laboratory     float64
CPT_medicine                 float64
CMED                         int64
CSURG                        int64
DENT                         int64
ENT                          int64
GU                           int64
GYN                          int64
MED                          int64
NB                           int64
NBB                          int64
NMED                         int64
NSURG                        int64
OBS                          int64
OMED                         int64
ORTHO                        int64
PSURG                        int64
PSYCH                        int64
SURG                         int64
TRAUM                        int64
TSURG                        int64
VSURG                        int64
PATIENTWEIGHT                float64
dtypes: float64(49), int64(21), object(13)
memory usage: 1.4+ GB

In [36]:
df

,SUBJECT_ID,HADM_ID,ADMITTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,...,OBS,OMED,ORTHO,PSURG,PSYCH,SURG,TRAUM,TSURG,VSURG,PATIENTWEIGHT
0,23.0,124321,2157-10-18 19:34:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,...,0,0,0,0,0,0,0,0,0,66.8
1,23.0,124321,2157-10-18 19:34:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,...,0,0,0,0,0,0,0,0,0,66.8
2,23.0,124321,2157-10-18 19:34:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,...,0,0,0,0,0,0,0,0,0,66.8
3,23.0,124321,2157-10-18 19:34:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,...,0,0,0,0,0,0,0,0,0,66.8
4,23.0,124321,2157-10-18 19:34:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,...,0,0,0,0,0,0,0,0,0,66.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240828,NaN,199992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,53.4
2240829,NaN,199992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,53.4
2240830,NaN,199992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,53.4
2240831,NaN,199992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,53.4
2240832,NaN,199992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,53.4